body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Image{
    margin-left: 20%;
}

.container2 {
    width: 50vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headr {
    width: 500px;
    padding: 10px;
}

.box {
    width: 600px;
    height: 760px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.data{
    margin-bottom: 18px;   
    margin-left: 15px; 
}

.dataContainer{
    display: flex;
}

.dataTitle{
    font-size: 20px;
    font-weight: 550;
    color: #333333;
}

.dataSpan{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
    color: red;
}

.dataInput{
   margin-top: 4px;
}

.inputsForm {
    height: 35px;
    padding: 0 30px;
    font-size: 16px;
    width: 250px;
    border: none;
    background: #E9EBEC;
    color: black;
    outline: none;
    border-radius: 25px;
}

.buttonJoin{
    margin-left: 15px;
}

#join-btn {
    border: none;
    height: 35px;
    background: #57b846;
    font-size: 18px;
    color: white;
    padding: 3px 50px;
    cursor: pointer;
    transition: .4s;
    border-radius: 25px;
  }

  #join-btn:hover {
    background: #6C7A89;
    padding: 0px 130px;
  }

